.drag-drop-area {
  border: 2px dashed #007bff;
  border-radius: 5px;
  padding: 20px;
  text-align: center;
  color: #007bff;
  background-color: #f8f9fa;
  cursor: pointer;
}

.drag-drop-area.dragging {
  background-color: #e2e6ea;
}

.hidden {
  display: none;
}



.confusion-matrix {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
}

.confusion-matrix th, .confusion-matrix td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
  font-size: 18px;
}

.confusion-matrix th {
  background-color: #f8f9fa;
  font-weight: bold;
}

.confusion-matrix td {
  font-size: 16px;
}

.explanation-container, .confusion-matrix-metrics {
  margin-top: 30px;
}

ul {
  list-style-type: none;
  padding: 0;
}

ul li {
  padding: 5px;
  font-size: 18px;
}


.explanation-container {
  padding: 40px; 
  margin-top: 60px;
  background-color: #3d3d3d;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /*subtle shadow*/
  color: #007bff;
}